@use "../../styles/variables";

.chat {
  min-width: 250px;
  max-width: 350px;
  border-radius: 5px 5px 0 0;
  color: #4d4d4d;
  box-shadow: variables.$box-shadow;

  &__tabs {
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    flex: 1 1 50%;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 5px 5px 0 0;
  }

  &__content {
    background-color: #fff;
    height: 500px;
  }
}

.active-tab {
  background-color: #fff;
}

.not-active-tab {
  &:hover {
    background: #f9e5d9;
  }
}
